* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#login__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    max-width: 400px;
}

#login__wrapper h2 {
    margin-bottom: 1em;
    text-align: center;
}

#login__wrapper form {
    display: flex;
    flex-direction: column;
}

#login__wrapper form input {
    padding: 10px;
    outline: 0;
    margin-bottom: 1em;
    border: 1px solid #999;
    border-radius: 4px;
}

#login__wrapper form button {
    padding: 18px 10px;
    outline: 0;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    border: 0;
    cursor: pointer;
}